<tui-scrollbar>
  <div class="container-search">
    <div class="tui-form__row">
      <tui-input
        class="b-from search"
        type="search"
        [(ngModel)]="term"
        tuiTextfieldSize="m"
        [tuiTextfieldCleaner]="true"
      >
        Поиск
      </tui-input>
    </div>
  </div>

  <table class="tui-table tui-space_bottom-5">
    <thead>
    <tr class="tui-table__tr">
      <th class="tui-table__th">ФИО</th>
      <th class="tui-table__th">Должность по кафедре</th>
      <th class="tui-table__th">Дата начала</th>

      <th class="tui-table__th">Согласован</th>
      <th class="tui-table__th">Дата согласования</th>
      <th class="tui-table__th">Дата конец</th>
      <th class="tui-table__th">Выполнен (утвержден)</th>
      <th class="tui-table__th">Дата выполнения (утверждения)</th>
    </tr>
    </thead>
    <tbody *ngIf="dataIp$ | async as data" >
    <tr class="tui-table__tr">
      <td class="tui-table__td" *ngIf="data.kafedra.user; else something">{{data.kafedra.user.second}} {{data.kafedra.user.first}} {{data.kafedra.user.third}}</td>
      <td class="tui-table__td" *ngIf="data.kafedra.book_post; else something">{{data.kafedra.book_post.name}}</td>
      <td class="tui-table__td" *ngIf="data.data_start; else something">{{data.data_start}}</td>

      <td class="tui-table__td" *ngIf="data.isagreement; else somethingElse">Да</td>
      <td class="tui-table__td" *ngIf="data.data_agreement; else something">{{data.data_agreement}}</td>
      <td class="tui-table__td" *ngIf="data.data_end; else something">{{data.data_end}}</td>
      <td class="tui-table__td" *ngIf="data.isimplementation; else somethingElse">Да</td>
      <td class="tui-table__td" *ngIf="data.data_implementation; else something">{{data.data_implementation}}</td>
    </tr>
    </tbody>
  </table>



  <table class="tui-table">
    <thead>
    <tr class="tui-table__tr">
      <th class="tui-table__th">#</th>
      <th class="tui-table__th">Семестр</th>
      <th class="tui-table__th">Вид деятельности</th>
      <th class="tui-table__th">Вид работы</th>
      <th class="tui-table__th">Норма времени, ак.ч</th>
      <th class="tui-table__th">Ед. измерения</th>
      <th class="tui-table__th">План, ед.раб</th>
      <th class="tui-table__th">План, ак.ч</th>
      <th class="tui-table__th">Дата план</th>
      <th class="tui-table__th">Факт, ед.раб</th>
      <th class="tui-table__th">Факт, ак.ч</th>
      <th class="tui-table__th">Дата факт</th>
      <th class="tui-table__th">Примечание</th>
    </tr>
    </thead>
    <tbody *ngIf="data$ | async as data" >
    <tr class="tui-table__th" *ngFor="let data of data; let i = index">
      <th class="tui-table__td">{{i+1}}</th>
      <td class="tui-table__td" *ngIf="data.semester; else something">{{data.semester}}</td>
      <td class="tui-table__td" *ngIf="data.kind_activity; else something">{{data.kind_activity.name}}</td>
      <td class="tui-table__td" *ngIf="data.activity; else something">{{data.activity.name}}</td>
      <td class="tui-table__td" *ngIf="data.activity; else something">{{data.activity.norma}}</td>
      <td class="tui-table__td" *ngIf="data.activity; else something">{{data.activity.book_unit.name}}</td>
      <td class="tui-table__td" *ngIf="data.unitPlan; else something">{{data.unitPlan}}</td>
      <td class="tui-table__td" *ngIf="data.hourPlan; else something">{{data.hourPlan}}</td>
      <td class="tui-table__td" *ngIf="data.datePlan; else something">{{data.datePlan}}</td>
      <td class="tui-table__td" *ngIf="data.unitFact; else somethingZ">{{data.unitFact}}</td>
      <td class="tui-table__td" *ngIf="data.hourFact; else somethingZ">{{data.hourFact}}</td>
      <td class="tui-table__td" *ngIf="data.dateFact; else something">{{data.dateFact}}</td>
      <td class="tui-table__td" *ngIf="data.remark; else something">{{data.remark}}</td>
    </tr>
    </tbody>
  </table>
</tui-scrollbar>

<tui-scrollbar>
  <table class="tui-table tui-space_top-5">
    <thead>
    <tr class="tui-table__tr">
      <th class="tui-table__th">Вид деятельности</th>
      <!-- <th class="tui-table__th">Норма на 1 ставку</th> -->
      <th class="tui-table__th">Норма</th>
      <th class="tui-table__th">1 семестр (план)</th>
      <th class="tui-table__th">2 семестр (план)</th>
      <th class="tui-table__th">Итого (план)</th>
      <th class="tui-table__th">Остаток (план)</th>
      <th class="tui-table__th">1 семестр (факт)</th>
      <th class="tui-table__th">2 семестр (факт)</th>
      <th class="tui-table__th">Итого (факт)</th>
      <th class="tui-table__th">Остаток (факт)</th>
    </tr>
    </thead>
    <tbody *ngIf="dataStatistika | async as data" >
    <tr class="tui-table__th" *ngFor="let d of data | filter:term; let i = index">
      <td class="tui-table__td">{{d.kind_activity_name}}</td>
      <!-- <td class="tui-table__td">{{d.norma_po_doljnosti}}</td> -->
      <td class="tui-table__td">{{d.norma_na_kaf}}</td>
      <td class="tui-table__td">{{d.semestr_1_plan}}</td>
      <td class="tui-table__td">{{d.semestr_2_plan}}</td>
      <td class="tui-table__td">{{d.itog_plan}}</td>
      <td class="tui-table__td">{{d.ostatok_plan}}</td>
      <td class="tui-table__td">{{d.semestr_1_fact}}</td>
      <td class="tui-table__td">{{d.semestr_2_fact}}</td>
      <td class="tui-table__td">{{d.itog_fact}}</td>
      <td class="tui-table__td">{{d.ostatok_fact}}</td>


      
    </tr>
    </tbody>
  </table>
</tui-scrollbar>

<ng-template #somethingElse>
  <td class="tui-table__td">Нет</td>
</ng-template>

<ng-template #something>
  <td class="tui-table__td"></td>
</ng-template>

<ng-template #loading>
  <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
</ng-template>

<ng-template #somethingZ>
  <td class="tui-table__td">0</td>
</ng-template>
