<nav class="navbar">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </form>
        <div class="btn-group">
          <button class="btn btn-sm btn-outline-secondary ms-2" type="button" (click)="openMenuAdd($event)">Добавить</button>
        </div>
        
    </div>
</nav>

<app-modal-add-user>
</app-modal-add-user>

<app-modal-survey-user>
</app-modal-survey-user>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Логин</th>
    <th scope="col">ФИО</th>
    <th scope="col">Просмотр</th>
    <th scope="col">Редактировать</th>
    <th scope="col">Удалить</th>
  </tr>
</thead>
<tbody *ngIf="users$ | async as users">
  <tr>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{user.login}}</td>
      <td>{{user.second}}</td>
      <td class="td" (click)="openMenuSurvey($event, user)"><img src="https://img.icons8.com/ios-glyphs/24/000000/fine-print--v1.png"/></td>
      <td class="td" (click)="openMenuEdit($event, user)"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
      <td class="td" (click)="delete(user)"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
  </tr>
</tbody>
</table>