<nav class="navbar">
    <div class="container-fluid">
      <div class="d-flex">
        <input class="form-control me-2" type="search" [(ngModel)]="term" placeholder="Поиск" aria-label="Поиск">
      </div>
        <div class="btn-group">
          <button class="btn btn-sm btn-outline-secondary ms-2" type="button" (click)="openMenuAdd($event)">Добавить</button>
        </div>
        
    </div>
</nav>

<app-modal-add-user>
</app-modal-add-user>

<app-modal-survey-user>
</app-modal-survey-user>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Логин</th>
    <th scope="col">ФИО</th>
    <th scope="col">Просмотр</th>
    <th scope="col">Редактировать</th>
    <th scope="col">Удалить</th>
  </tr>
</thead>
<tbody *ngIf="data | async as users">
  <tr>
    <tr *ngFor="let user of users | filter:term; let i = index">
      <th scope="row">{{i+1}}</th>
      <td *ngIf="user; else somethingElse">{{user.login}}</td>
      <td *ngIf="user; else somethingElse">{{user.second}} {{user.first}} {{user.third}}</td>
      <td class="td" (click)="openMenuSurvey($event, user)"><img src="././assets/images/icon/fine-print--v1.png"/></td>
      <td class="td" (click)="openMenuEdit($event, user)"><img src="././assets/images/icon/edit.png"/></td>
     <td class="td" (click)="delete(user)"><img src="././assets/images/icon/delete--v1.png"/></td>
  </tr>
</tbody>
</table>

<ng-template #somethingElse>
  <td></td>
</ng-template>