.btn-primary {
    border: none;
    background:  #e6e6e6;
    color:#000;
    float: right;
}

.btn-primary:hover {
    color: rgb(236, 236, 236);
    background: rgb(78, 78, 78);
}

.navbar {
    margin: 0;
    margin-top: 20px;
    flex-wrap: nowrap;
    padding: 0;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #e5e5e5;
    width: auto;
}

.table {
    /* width: auto; */
}

.d-flex {
    /*width: 70%;*/
}

.container-fluid {
    /*width: 100%;*/
    display: flex!important;
    padding: 0;
}

.td {
    text-align: center;
}

.btn-group {
    float: right;
}

.btn-outline-secondary:hover {
    background: rgb(78, 78, 78);
}