<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">Вид работы</p>
<form class="items" [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">

<select class="form-select mb-2" *ngIf="kinds$ | async as kinds" name="idkind_activity" formControlName="idkind_activity" aria-label="Вид деятельности">
    <option *ngFor="let kind of kinds" [value]="kind.id" type="text">{{kind.name}}</option>
</select>

  <input class="form-control me-2 mb-3" id="name" type="text" name="name"
  autocomplete="off" formControlName="name" placeholder="Вид работы" aria-label="Вид работы">


  <button class="btn btn-primary" type="submit">Сохранить</button>
  <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   