<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">Должность</p>
<form class="items" *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="onSubmit()">

    <input class="form-control me-2" 
  type="text" 
  name="name" 
  autocomplete="off"
  formControlName="name"
  placeholder="Должности"
  aria-label="Должности">

  <select class="form-select mb-2 mt-2" name="ispps" formControlName="ispps" aria-label="ППС">
    <option value="true" type="text">Да</option>
    <option value="false" type="text">Нет</option>
  </select>



  <button class="btn btn-primary" type="submit">Сохранить</button>
  <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   