<nav class="navbar navbar-expand-lg navbar-light bg-company-red">
    <div class="container-fluid"> <a class="navbar-brand" href="#">ИС "ИП ППС"</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выход</button>
            </ul>
        </div>
    </div>
</nav>


<main class="container">
    <router-outlet></router-outlet>
</main>