<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">ФИО *</p>
<form class="items">
        <select class="form-select mb-2" aria-label="Должность">
            <option selected>Должность</option>
            <option type="text" value="1">Д</option>
        </select>
        <select class="form-select mb-2" aria-label="Условие приема на работу">
            <option selected>Условие приема на работу</option>
            <option type="text" value="1">У</option>
        </select>
        <input class="form-control me-2" type="number" step="0.01" min="0" max="2" placeholder="Размер ставки" aria-label="Размер ставки">
    <button class="btn btn-primary" type="submit" (click)="save()">Сохранить</button>
    <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   