<nav class="navbar">
    <div class="container-fluid">
      <div class="d-flex">
        <input class="form-control me-2" type="search" [(ngModel)]="term" placeholder="Поиск" aria-label="Поиск">
    </div>
        <div class="btn-group">
          <button class="btn btn-sm btn-outline-secondary ms-2" (click)="add()">Добавить</button>
        </div>      
    </div>
</nav>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Год начала</th>
      <th scope="col">Год конец</th>
      <th scope="col">Кафедра</th>
      <th scope="col">Просмотр(Скачать)</th>
      <th scope="col">Редактировать</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody *ngIf="data | async as data" >
    <tr *ngFor="let data of data | filter:term; let i = index">
      <th scope="row">{{i+1}}</th>
      <td *ngIf="data.data_start; else somethingElse">{{data.data_start}}</td>
      <td *ngIf="data.data_end; else somethingElse">{{data.data_end}}</td>
      <td *ngIf="data.kafedra; else somethingElse">{{data.kafedra.book_office.name}}</td>
      <td class="td"><img src="././assets/images/icon/fine-print--v1.png"/></td>
      <td class="td" (click)="edit(data.id)"><img src="././assets/images/icon/edit.png"/></td>
      <td class="td" (click)="delete(data)"><img src="././assets/images/icon/delete--v1.png"/></td>
    </tr>
  </tbody>
  </table>

  <ng-template #somethingElse>
    <td></td>
  </ng-template>