<nav class="navbar">
        <div class="container-fluid">
          <div class="d-flex">
            <input class="form-control me-2" type="search" [(ngModel)]="term" placeholder="Поиск" aria-label="Поиск">
          </div>
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-secondary ms-2" type="button" (click)="openMenuAdd($event)">Добавить</button>
            </div>
            
        </div>
</nav>

<app-modal-add-post-table>
</app-modal-add-post-table>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Должности</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
      </tr>
    </thead>
    <tbody *ngIf="posts$ | async as posts" >

        <tr *ngFor="let post of posts | filter:term; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{post.name}}</td>
        <td class="td" (click)="openMenuEdit($event, post)"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
        <td class="td" (click)="delete(post)"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
      </tr>
    </tbody>
  </table>