<nav class="navbar navbar-expand-lg navbar-light bg-company-red">
    <div class="container-fluid"> 
        <a class="navbar-brand">ИС "Индивидуальный план ППС"</a>
        <ul class="navbar-nav">
            <div class="p" (click)="openMenu($event)">User name</div>
            <button class="btn btn-primary my-2 my-sm-0" type="button" (click)="logout($event)">Выход</button>
        </ul>
    </div>
</nav>

<app-modal-role></app-modal-role>

<main class="container">
    <router-outlet></router-outlet>
</main>