.bg-company-red {
    background: rgb(63, 63, 63);
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

p {
    color: rgb(255, 255, 255);
    padding-right: 20px;
    text-align:center;
    margin-top: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary {
    border: none;
    background:  #e6e6e6;
    color:#000;
    float: right;
}

.btn-primary:hover {
    color: rgb(236, 236, 236);
    background: rgb(78, 78, 78);
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    color:rgb(255, 255, 255)!important;
    font-size: 1rem;
}
