.nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color:rgb(255, 255, 255);
    background: rgb(63, 63, 63);   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    min-width: 400px;  

}

.nav__content {
    display: flex;
    align-items: center;
    font-size: 16px;
   
}

.nav__header {
    margin: 2px 20px;
    font-size: 20px;
}

.nav__content__name {
    margin: 0px 20px;
    font-size: 18px;
}

.nav__content__btn {

    border: none;
    background:  #e6e6e6;
    border-radius: 5px;
    color:#000;
    padding: 0px 20px;
    float: right;
    height: 32px;
    
}

.nav__content__btn:hover {
    color: rgb(236, 236, 236);
    background: rgb(78, 78, 78);
}

.con-flex {
    display: flex;
    margin: 0;
    padding: 0;
}

