<nav class="navbar">
    <div class="container-fluid">
        <form class="d-flex">
          <select class="form-select" aria-label="Default select example">
            <option selected>Выбрать вид деятельности</option>
            <option value="1">One</option>
          </select>
        </form>
        <div class="btn-group">
          <button class="btn btn-sm btn-outline-secondary ms-2" (click)="openMenu($event)">Добавить</button>
        </div>
        
    </div>
</nav>

<app-modal-add-activity-table>
</app-modal-add-activity-table>

<app-modal-survey-activity-table>
</app-modal-survey-activity-table>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Вид работы</th>
    <th scope="col">Просмотр</th>
    <th scope="col">Редактировать</th>
    <th scope="col">Удалить</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td class="td" (click)="openTable($event)"><img src="https://img.icons8.com/ios-glyphs/24/000000/fine-print--v1.png"/></td>
    <td class="td" (click)="openMenu($event)"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
    <td class="td"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td class="td" (click)="openTable($event)"><img src="https://img.icons8.com/ios-glyphs/24/000000/fine-print--v1.png"/></td>
    <td class="td" (click)="openMenu($event)"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
    <td class="td"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the BirdLarry the Bird</td>
    <td class="td" (click)="openTable($event)"><img src="https://img.icons8.com/ios-glyphs/24/000000/fine-print--v1.png"/></td>
    <td class="td" (click)="openMenu($event)"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
    <td class="td"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
  </tr>
</tbody>
</table>