:host {
    
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background:  #f8f9fa;
    text-align: center;
    
}

.title {
    margin: 0px;
    padding: 10px;
    color: white;
    background: rgb(78, 78, 78 );
    font-size: 1rem;
}
 
.items p{
    margin: 0px;
    padding: 5px;
    color: #000;
    font-weight: 500;
    
}
 
.items p:hover {
    color:  white;
    background: rgb(78, 78, 78);
}