<nav class="navbar">
  <div class="container-fluid">
      <div class="d-flex">
          <input class="form-control me-2" type="search" [(ngModel)]="term" placeholder="Поиск" aria-label="Поиск">
      </div>    
  </div>
</nav>

<app-modal-ip-edit>
</app-modal-ip-edit>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ФИО</th>
    <th scope="col">Должность по кафедре</th>
    <th scope="col">Согласован</th>
    <th scope="col">Дата согласования</th>
    <th scope="col">Выполнен</th>
    <th scope="col">Дата выполнения</th>
    <th scope="col">Просмотр</th>
    <th scope="col">Редактировать</th>
  </tr>
</thead>
<tbody *ngIf="data | async as data" >
  <tr *ngFor="let data of data| filter:term; let i = index">
    <th scope="row" >{{i+1}}</th>
    <td>{{data.kafedra.user.second}} {{data.kafedra.user.first}} {{data.kafedra.user.third}}</td>
    <td>{{data.kafedra.book_post.name}}</td>
    <td *ngIf="data.isagreement; else somethingElse">Да</td>
    <td>{{data.data_agreement}}</td>
    <td *ngIf="data.isimplementation; else somethingElse">Да</td>
    <td>{{data.data_implementation}}</td>
    <td class="td"><img src="././assets/images/icon/fine-print--v1.png"/></td>
    <td class="td" (click)="openMenu($event, data)"><img src="././assets/images/icon/edit.png"/></td>
  </tr>
</tbody>
</table>

<ng-template #somethingElse>
  <td>Нет</td>
</ng-template>