<nav class="navbar">
    <div class="container-fluid">
        <div class="d-flex">
          <select class="form-select" aria-label="Default select example">
            <option selected>Выбрать год</option>
            <option type="date" value="1">One</option>
        </select>
        </div>       
    </div>
</nav>

<app-modal-ip-edit>
</app-modal-ip-edit>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ФИО</th>
    <th scope="col">Должность</th>
    <th scope="col">Согласован</th>
    <th scope="col">Дата</th>
    <th scope="col">Выполнен</th>
    <th scope="col">Дата</th>
    <th scope="col">Просмотр</th>
    <th scope="col">Редактировать</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Mark</td>
    <td class="td"><input type="checkbox" id="scales" name="scales" checked></td>
    <td>Mark</td>
    <td class="td"><input type="checkbox" id="scales" name="scales" checked></td>
    <td>Mark</td>
    <td class="td"><img src="https://img.icons8.com/ios-glyphs/24/000000/fine-print--v1.png"/></td>
    <td class="td" (click)="openMenu($event)"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Jacob</td>
    <td class="td"><input type="checkbox" id="scales" name="scales" checked></td>
    <td>Jacob</td>
    <td class="td"><input type="checkbox" id="scales" name="scales" checked></td>
    <td>Jacob</td>
    <td class="td"><img src="https://img.icons8.com/ios-glyphs/24/000000/fine-print--v1.png"/></td>
    <td class="td"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>

  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry the Bird</td>
    <td>Larry the Bird</td>
    <td class="td"><input type="checkbox" id="scales" name="scales" checked></td>
    <td>Larry the Bird</td>
    <td class="td"><input type="checkbox" id="scales" name="scales" checked></td>
    <td>Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the BirdLarry the Bird</td>
    <td class="td"><img src="https://img.icons8.com/ios-glyphs/24/000000/fine-print--v1.png"/></td>
    <td class="td"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
  </tr>
</tbody>
</table>