<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>

  

<p class="title">Пользователь</p>
<form class="items" [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
    <input class="form-control me-2 mb-2" type="text" name="login" formControlName="login" autocomplete="off" placeholder="Логин" aria-label="Логин">
    <input class="form-control me-2 mb-2" type="password" name="password" formControlName="password" autocomplete="off" placeholder="Пароль" aria-label="Пароль">
    <input class="form-control me-2 mb-2" type="text" name="second" formControlName="second" autocomplete="off" placeholder="Фамилия" aria-label="Фамилия">
    <input class="form-control me-2 mb-2" type="text" name="first" formControlName="first" autocomplete="off" placeholder="Имя" aria-label="Имя">
    <input class="form-control me-2 mb-2" type="text" name="third" formControlName="third" autocomplete="off" placeholder="Отчество" aria-label="Отчество">   


    <select class="form-select mb-2" *ngIf="roles$ | async as roles" name="book_role" formControlName="book_role" aria-label="Роль в системе">
        <option *ngFor="let role of roles" [value]="role.id" type="text">{{role.name}}</option>
    </select>

    <select class="form-select mb-2" *ngIf="offices$ | async as offices" name="book_office" formControlName="book_office" aria-label="Структурное подразделение">
        <option *ngFor="let office of offices" [value]="office.id" type="text">{{office.name}}</option>
    </select>
    <select class="form-select mb-2" *ngIf="posts$ | async as posts"  name="book_post" formControlName="book_post" aria-label="Должность">
        <option *ngFor="let post of posts" [value]="post.id" type="text">{{post.name}}</option>
    </select>
    <select class="form-select mb-2" *ngIf="works$ | async as works"  name="book_work" formControlName="book_work" aria-label="Условие приема на работу">
        <option *ngFor="let work of works" [value]="work.id" type="text">{{work.name}}</option>
    </select>
    <select class="form-select mb-2" *ngIf="statuses$ | async as statuses"  name="book_status" formControlName="book_status" aria-label="Статус">
        <option *ngFor="let status of statuses" [value]="status.id" type="text">{{status.name}}</option>
    </select>
    <select class="form-select mb-2" *ngIf="stepens$ | async as stepens"  name="book_stepen" formControlName="book_stepen" aria-label="Ученая степень">
        <option *ngFor="let stepen of stepens" [value]="stepen.id" type="text">{{stepen.name}}</option>
    </select>
    <select class="form-select mb-2" *ngIf="zvanies$ | async as zvanies" name="book_zvanie" formControlName="book_zvanie" aria-label="Ученое звание">
        <option *ngFor="let zvanie of zvanies" [value]="zvanie.id" type="text">{{zvanie.name}}</option>
    </select>
    <input class="form-control me-2 mb-2"  name="tel" formControlName="tel" type="tel" autocomplete="off" placeholder="Телефон" aria-label="Телефон">
    <input class="form-control me-2 mb-2"  name="email" formControlName="email" type="email" autocomplete="off" placeholder="Email" aria-label="Email">
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   

