<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">Пользователь</p>
<form class="items" *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input class="form-control me-2 mb-2" type="text" placeholder="Логин" aria-label="Логин">
    <input class="form-control me-2 mb-2" type="password" placeholder="Пароль" aria-label="Пароль">
    <input class="form-control me-2 mb-2" type="text" placeholder="Фамилия" aria-label="Фамилия">
    <input class="form-control me-2 mb-2" type="text" placeholder="Имя" aria-label="Имя">
    <input class="form-control me-2 mb-2" type="text" placeholder="Отчество" aria-label="Отчество">
    <select class="form-select mb-2" aria-label="Роль в системе">
        <option selected>Роль в системе</option>
        <option type="text" value="1">Администратор</option>
        <option type="text" value="2">Уму</option>
        <option type="text" value="3">Завкаф</option>
        <option type="text" value="4">ППС</option>
        <option type="text" value="5">Руководитель</option>
    </select>
    <select class="form-select mb-2" aria-label="Структурное подразделение">
        <option selected>Структурное подразделение</option>
        <option type="text" value="1">СТ</option>
    </select>
    <select class="form-select mb-2" aria-label="Должность">
        <option selected>Должность</option>
        <option type="text" value="1">Д</option>
    </select>
    <select class="form-select mb-2" aria-label="Условие приема на работу">
        <option selected>Условие приема на работу</option>
        <option type="text" value="1">У</option>
    </select>
    <select class="form-select mb-2" aria-label="Статус">
        <option selected>Статус</option>
        <option type="text" value="1">С</option>
    </select>
    <select class="form-select mb-2" aria-label="Ученая степень">
        <option selected>Ученая степень</option>
        <option type="text" value="1">А</option>
    </select>
    <select class="form-select mb-2" aria-label="Ученое звание">
        <option selected>Ученое звание</option>
        <option type="text" value="1">А</option>
    </select>
    <input class="form-control me-2 mb-2" type="tel" placeholder="Телефон" aria-label="Телефон">
    <input class="form-control me-2 mb-2" type="email" placeholder="Email" aria-label="Email">
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   