<nav class="navbar">
  <div class="container-fluid">
    <div class="d-flex">
      <input class="form-control me-2" type="search" [(ngModel)]="term" placeholder="Поиск" aria-label="Поиск">
    </div>
    <div class="d-flex" *ngIf="norma | async as norma">
      <input class="form-control me-2 mb-2" type="text" value="{{norma.norma}}" placeholder="Норма на текущий год" aria-label="Норма на текущий год" disabled>
      <button class="btn btn-sm btn-outline-secondary ms-2" (click)="openNormaEdit($event, norma)">Редактировать</button>
  </div> 
      <div class="btn-group">
        <button class="btn btn-sm btn-outline-secondary ms-2" (click)="openMenuAdd($event)">Добавить</button>
      </div>
              
  </div>
</nav>

<app-modal-edit-stavka>
</app-modal-edit-stavka>

<app-modal-add-stavka-table>
</app-modal-add-stavka-table>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Должность ППС</th>
    <th scope="col">Норма времени (ак.ч.)</th>
    <th scope="col">Редактировать</th>
    <th scope="col">Удалить</th>
  </tr>
</thead>
<tbody *ngIf="data | async as data" >
  <ng-container *ngFor="let data of data | filter:term; let i = index">
    <tr>
      <th scope="row" >{{i+1}}</th>
      <td *ngIf="data.book_post; else somethingElse">{{data.book_post.name}}</td>
      <td *ngIf="data.norma; else somethingElse">{{data.norma}}</td>   
      <td class="td" (click)="openMenuEdit($event, data)"><img src="././assets/images/icon/edit.png"/></td>
      <td class="td" (click)="delete(data)"><img src="././assets/images/icon/delete--v1.png"/></td>
    </tr>
  </ng-container> 
</tbody>
</table>

<ng-template #somethingElse>
  <td></td>
</ng-template>