<nav class="navbar">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </form>
        <div class="btn-group">
          <button class="btn btn-sm btn-outline-secondary ms-2">Добавить</button>
        </div>
        
    </div>
</nav>


<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Должность</th>
    <th scope="col">Размер ставки</th>
    <th scope="col">Редактировать</th>
    <th scope="col">Удалить</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td class="td"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
    <td class="td"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td class="td"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
    <td class="td"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the Bird Larry the BirdLarry the Bird</td>
    <td class="td"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
    <td class="td"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
  </tr>
</tbody>
</table>