<nav class="navbar">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </form>
        <div class="btn-group">
          <!--
<button class="btn btn-sm btn-outline-secondary ms-2" type="button" (click)="openMenu($event)" >Добавить</button>

          -->
          
        </div>
        
    </div>
</nav>



<app-modal-add-office-table>
</app-modal-add-office-table>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Стуктурные подразделения</th>
    <th scope="col">Редактировать</th>
    <th scope="col">Удалить</th>
  </tr>
</thead>
<tbody *ngIf="offices$ | async as offices" >
  <tr *ngFor="let office of offices; let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{office.name}}</td>
    <td class="td" (click)="openMenu($event, office)"><img src="https://img.icons8.com/fluency-systems-filled/24/000000/edit.png"/></td>
    <td class="td" (click)="delete(office)"><img src="https://img.icons8.com/ios-filled/24/000000/delete--v1.png"/></td>
  </tr>
</tbody>
</table>