<nav class="navbar">
  <div class="container-fluid">
      <div class="d-flex">
          <input class="form-control me-2" type="search" [(ngModel)]="term" placeholder="Поиск" aria-label="Поиск">
      </div>    
  </div>
</nav>

<app-modal-survey-schedule>
</app-modal-survey-schedule>

<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ФИО</th>
    <th scope="col">Должность по кафедре</th>
    <th scope="col">Ставка</th>
    <th scope="col">Условие приема на кафедру</th>
    <th scope="col">Ученая степень</th>
    <th scope="col">Ученое звание</th>
    <th scope="col">Редактировать</th>
  </tr>
</thead>
<tbody *ngIf="data | async as data" >
  <tr *ngFor="let data of data| filter:term; let i = index">
    <th scope="row" >{{i+1}}</th>
    <td>{{data.user.second}} {{data.user.first}} {{data.user.third}}</td>
    <td>{{data.book_post.name}}</td>
    <td>{{data.norma}}</td>
    <td>{{data.book_work.name}}</td>
    <td>{{data.user.book_stepen.name}}</td>
    <td>{{data.user.book_zvanie.name}}</td>
    <td class="td" (click)="openMenu($event, data)"><img src="././assets/images/icon/edit.png"/></td>
  </tr>
</tbody>
</table>