<div class="container-search">
  <div class="tui-form__row">
    <tui-input
      class="b-from search"
      type="search"
      [(ngModel)]="term"
      tuiTextfieldSize="m"
      [tuiTextfieldCleaner]="true"
    >
      Поиск
    </tui-input>
  </div>

</div>

<ng-template
  let-observer
  [tuiDialogOptions]="$any({ label: 'ППС кафедры', size: 'l' })"
  [(tuiDialog)]="open"
>
  <form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
    <p></p>
    <div class="tui-form__row">
      <tui-select
        *ngIf="posts$ | async as items"
        class="b-form"
        formControlName="book_post"
        [valueContent]="items ? this.str.stringifyName(items) : loading"
        [(ngModel)]="valuePost"
      >Должность*
        <ng-template tuiDataList>
          <tui-data-list *ngIf="items else loading">
            <ng-container
              *ngFor="let item of items"
            >
              <button
                tuiOption
                *ngIf="item.ispps"
                [value]="item.id | toNumber">
                {{item.name}}
              </button>

            </ng-container>
          </tui-data-list>
        </ng-template>

      </tui-select>
      <tui-error class="tui-space_bottom-3"
                 formControlName="book_post" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <div class="tui-form__row">
      <tui-select
        *ngIf="works$ | async as items"
        class="b-form"
        formControlName="book_work"
        [valueContent]="items ? this.str.stringifyName(items) : loading"
        [(ngModel)]="valueWork"
      >Условие принятия на кафедру*
        <ng-template tuiDataList>
          <tui-data-list *ngIf="items else loading">
            <ng-container
              *ngFor="let item of items"
            >
              <button
                tuiOption
                [value]="item.id | toNumber">
                {{item.name}}
              </button>

            </ng-container>
          </tui-data-list>
        </ng-template>

      </tui-select>
      <tui-error class="tui-space_bottom-3"
                 formControlName="book_work" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <div class="tui-form__row">
      <tui-input

        tuiTextfieldSize="l"
        formControlName="norma"
        [tuiTextfieldCleaner]="true"
      >
        Ставка*
      </tui-input>
      <tui-error class="tui-space_bottom-3"
                 formControlName="norma" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <p class="message">{{ messageError }}</p>
    <p>
      <button
        tuiButton
        type="submit"
        size="s"
      >
        Сохранить
      </button>

      <button
        tuiButton
        class="tui-space_left-3"
        type="button"
        size="s"
        (click)="close()"
      >
        Закрыть
      </button>
    </p>
  </form>
</ng-template>
<tui-scrollbar>
  <table class="tui-table">
    <thead>
    <tr class="tui-table__tr">
      <th class="tui-table__th">#</th>
      <th class="tui-table__th">ФИО</th>
      <th class="tui-table__th">Должность по основному месту работы</th>
      <th class="tui-table__th">Условие принятие на работу</th>
      <th class="tui-table__th">Статус</th>
      <th class="tui-table__th">Структурное подразделение</th>
      <th class="tui-table__th">Должность по кафедре</th>
      <th class="tui-table__th">Ставка</th>
      <th class="tui-table__th">Условие приема на кафедру</th>
      <th class="tui-table__th">Ученая степень</th>
      <th class="tui-table__th">Ученое звание</th>
      <th class="tui-table__th">Редактировать</th>
    </tr>
    </thead>
    <tbody *ngIf="data | async as data">
    <tr class="tui-table__th" *ngFor="let data of data| filter:term; let i = index">
      <th class="tui-table__td">{{i + 1}}</th>
      <td class="tui-table__td"
          *ngIf="data.user; else somethingElse">{{data.user.second}} {{data.user.first}} {{data.user.third}}</td>
      <td class="tui-table__td" *ngIf="data.user.book_post else somethingElse">{{data.user.book_post.name}}</td>
      <td class="tui-table__td" *ngIf="data.user.book_work else somethingElse">{{data.user.book_work.name}}</td>
      <td class="tui-table__td" *ngIf="data.user.book_status else somethingElse">{{data.user.book_status.name}}</td>
      <td class="tui-table__td" *ngIf="data.user.book_office else somethingElse">{{data.user.book_office.name}}</td>
      <td class="tui-table__td" *ngIf="data.book_post; else somethingElse">{{data.book_post.name}}</td>
      <td class="tui-table__td" *ngIf="data.norma; else somethingElse">{{data.norma}}</td>
      <td class="tui-table__td" *ngIf="data.book_work; else somethingElse">{{data.book_work.name}}</td>
      <td class="tui-table__td" *ngIf="data.user.book_stepen; else somethingElse">{{data.user.book_stepen.name}}</td>
      <td class="tui-table__td" *ngIf="data.user.book_zvanie; else
somethingElse">{{data.user.book_zvanie.name}}</td>
      <td class="tui-table__td">
        <button
          tuiIconButton
          size="xs"
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
          icon="tuiIconDraft"
          (click)="edit(data)"
        >
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</tui-scrollbar>
<ng-template #somethingElse>
  <td class="tui-table__td"></td>
</ng-template>
<ng-template #loading>
  <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
</ng-template>
