<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">Редактировать данные</p>
<form class="items" *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">     


        <p class="items-name">Согласован</p><br>
        <select class="form-select mb-2 mt-2" name="isagreement" formControlName="isagreement" aria-label="Согласован">
            <option value="true" type="text">Да</option>
            <option value="false" type="text">Нет</option>
        </select>

        <input class="form-control me-2 mb-2" name="data_agreement" formControlName="data_agreement" type="date" placeholder="Дата согласования" aria-label="Дата согласования">
   
        <p class="items-name">Выполнен</p><br>
        <select class="form-select mb-2 mt-2" name="isimplementation" formControlName="isimplementation" aria-label="Выполнен">
            <option value="true" type="text">Да</option>
            <option value="false" type="text">Нет</option>
        </select>

        <input class="form-control me-2 mb-2" name="data_implementation" formControlName="data_implementation" type="date" placeholder="Дата выполнения" aria-label="Дата выполнения">


    <button class="btn btn-primary" type="submit">Сохранить</button>
    <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   