<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>

<p class="title">Структурное подразделение</p>
<form class="items" [formGroup]="postForm" *ngIf="postForm" (ngSubmit)="onSubmit()">

    <input class="form-control me-2" 
    id="name"
    type="text" 
    name="name" 
    formControlName="name"
    autocomplete="off"
    placeholder="Структурное подразделение" 
    aria-label="Структурное подразделение">
    
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   
      