<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">Пользователь</p>
<div class="items" *ngIf="users$ | async as users">
    <input class="form-control me-2 mb-2" type="text" value="{{users.login}}" placeholder="Логин" aria-label="Логин" disabled>
    <input class="form-control me-2 mb-2" type="password" value="{{users.password}" placeholder="Пароль" aria-label="Пароль" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.second}}" placeholder="Фамилия" aria-label="Фамилия" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.first}}" placeholder="Имя" aria-label="Имя" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.third}}" placeholder="Отчество" aria-label="Отчество" disabled>
    <input class="form-control me-2 mb-2" type="text" value="role" placeholder="Роль в системе" aria-label="Роль в системе" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.office}}" placeholder="Структурное подразделение" aria-label="Структурное подразделение" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.post}}" placeholder="Должность" aria-label="Должность" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.work}}" placeholder="Условие приема на работу" aria-label="Условие приема на работу" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.status}}" placeholder="Статус" aria-label="Статус" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.stepen}}" placeholder="Ученая степень" aria-label="Ученая степень" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.zvanie}}" placeholder="Ученое звание" aria-label="Ученое звание" disabled>
    <input class="form-control me-2 mb-2" type="tel" value="{{users.tel}}" placeholder="Телефон" aria-label="Телефон" disabled>
    <input class="form-control me-2 mb-2" type="email" value="{{users.email}}" aria-label="Email" disabled>
    <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</div>   


    