<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">Пользователь</p>
<div class="items" *ngIf="users$ | async as users">
    <!-- <input class="form-control me-2 mb-2" type="text" value="{{users.login}}" placeholder="Логин" aria-label="Логин" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.second}}" placeholder="Фамилия" aria-label="Фамилия" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.first}}" placeholder="Имя" aria-label="Имя" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.third}}" placeholder="Отчество" aria-label="Отчество" disabled>
    
    <input class="form-control me-2 mb-2" type="text" value="{{users.book_office.name}}" placeholder="Структурное подразделение" aria-label="Структурное подразделение" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.book_post.name}}" placeholder="Должность" aria-label="Должность" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.book_work.name}}" placeholder="Условие приема на работу" aria-label="Условие приема на работу" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.book_status.name}}" placeholder="Статус" aria-label="Статус" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.book_stepen.name}}" placeholder="Ученая степень" aria-label="Ученая степень" disabled>
    <input class="form-control me-2 mb-2" type="text" value="{{users.book_zvanie.name}}" placeholder="Ученое звание" aria-label="Ученое звание" disabled>
    <input class="form-control me-2 mb-2" type="tel" value="{{users.tel}}" placeholder="Телефон" aria-label="Телефон" disabled>
    <input class="form-control me-2 mb-2" type="email" value="{{users.email}}" placeholder="Email" aria-label="Email" disabled>
    <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button> -->
</div>   


    