body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #b8c9dd;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin-top: 40px;
    border:4px solid #e6e6e6;
    text-align: center;
}

.img {
    width: 180px;
    height: 130px;
}

.form-control {
    margin-top: 20px;
}


.btn-primary {
    border: none;
    background:   #e6e6e6;
    color:#000;
    margin-top: 40px;

}

.btn-primary:hover {

    color: rgb(236, 236, 236);
    background: rgb(78, 78, 78);
}
