form {
    border: 4px solid #e6e6e6;
    padding: 20px;
}

h1 {
    font-weight: normal;
    margin-bottom: 40px;
    font-size: 30px;
}

.container {
    display: flex; 
    align-items: center;   
    text-align: center; 
    margin: 40px auto;
    width: 400px;
}

img {
    width: 180px;
    height: 130px;
    margin-bottom: 40px;
}

button {
    border: none;
    background:   #e6e6e6;
    border-radius: 5px;
    color:#000;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    display: block;
    width: 100%;
    font-size: 20px;
}

button:hover {
    color: rgb(236, 236, 236);
    background: rgb(78, 78, 78);
}