<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <img src="./assets/images/1.png" alt="логотип агасу">
        <h1>Индивидуальный план работы преподавателя</h1>

        <div class="form-floating">
            <input type="text" class="form-control mt-4" autocomplete="off" id="login" placeholder="login" formControlName="login">
            <label for="login">Логин</label>
        </div>
    
        <div class="form-floating">
            <input type="password" class="form-control mt-4" autocomplete="off" id="password" placeholder="password" formControlName="password">
            <label for="password">Пароль</label>
        </div>
    
        <button type="submit" [disabled]="form.invalid || form.disabled">Войти</button>

        <p>&copy; АГАСУ, 2022</p>        
    
    </form>
</div>