<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">Количество часов на ставку (учебная)</p>
<form class="items" [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">


  <select class="form-select mb-2" *ngIf="kinds$ | async as kinds"  name="idkind_activity" formControlName="idkind_activity" aria-label="Вид деятельности">
    <option *ngFor="let kind of kinds" [value]="kind.id" type="text">{{kind.name}}</option>
</select>

  <select class="form-select mb-2" *ngIf="posts$ | async as posts"  name="idbook_post" formControlName="idbook_post" aria-label="Должность">
    <ng-container *ngFor="let post of posts">
      <option *ngIf="post.ispps" [value]="post.id" type="text">{{post.name}}</option>
    </ng-container>
  </select>

  

  <input class="form-control me-2 mb-3" id="norma" type="number" name="norma"
  autocomplete="off" formControlName="norma" placeholder="Норма" aria-label="Норма">

  <button class="btn btn-primary" type="submit">Сохранить</button>
  <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   