<nav class="navbar">
  <div class="container-fluid">
      <div class="d-flex">
          <input class="form-control me-2" type="search" [(ngModel)]="term" placeholder="Поиск" aria-label="Поиск">
      </div>   
      <button *ngIf="isChecked" (click)="save()">Сохранить</button>
      <button (click)="checkClose()" *ngIf="isChecked">Закрыть</button>
      <button (click)="checkEdit()" *ngIf="!isChecked">Редактировать</button> 
  </div>
</nav>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Стуктурное подразделение</th>
      <th scope="col">Должность</th>
      <th scope="col" *ngIf="isChecked">Выбрать</th>
    </tr>
  </thead>
  <tbody *ngIf="users$ | async as user">
    <tr *ngFor="let user of user| filter:term; let i = index">
      <th scope="row" >{{i+1}}</th>
          <td *ngIf="user; else somethingElse">{{user.second}} {{user.first}} {{user.third}}</td>
          <td *ngIf="user.book_office; else somethingElse">{{user.book_office.name}}</td>
          <td *ngIf="user.book_post; else somethingElse">{{user.book_post.name}}</td>
          <td><input *ngIf="isChecked" (click)="addKafedra(user)" class="checkbox" type="checkbox"></td>
    </tr>
  </tbody>
</table>

<ng-template #somethingElse>
  <td></td>
</ng-template>


