<nav class="navbar">
  <div class="container-fluid">
      <div class="d-flex">
          <input class="form-control me-2" type="search" [(ngModel)]="term" placeholder="Поиск" aria-label="Поиск">
      </div>    
  </div>
</nav>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Стуктурное подразделение</th>
      <th scope="col">Должность</th>
      <th scope="col">Выбрать</th>
    </tr>
  </thead>
  <tbody *ngIf="users$ | async as user">
    <tr *ngFor="let user of user| filter:term; let i = index">
      <th scope="row" >{{i+1}}</th>
          <td>{{user.second}} {{user.first}} {{user.third}}</td>
          <td>{{user.book_office.name}}</td>
          <td>{{user.book_post.name}}</td>
          <!-- <div *ngIf="data$ | async as data">
            <div *ngFor="let data of data">
              <td><input *ngIf="user.id === data.user.id;"  class="checkbox" type="checkbox"></td>
            </div>        
          </div> -->
    </tr>
  </tbody>
</table>


