<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- <img src="./../../../../assets/images/1.png" alt="логотип агасу"> -->
        <h1>Индивидуальный план работы преподавателя</h1>

        <div class="tui-form__row">
            <tui-input
            tuiTextfieldSize="l"
            type="text"
            autocomplete="off"
            formControlName="login"
            [tuiTextfieldCleaner]="true"
            >Логин
            <input
	            tuiTextfield
	            type="email"
	        />
            </tui-input>
            <tui-error formControlName="login" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <div class="tui-form__row">
            <tui-input-password
            tuiTextfieldSize="l"
            type="password"
            autocomplete="off"
            placeholder="password"
            formControlName="password"
            tuiHintContent
	        tuiHintDirection="right"
	        tuiHintMode="onDark"
            [tuiTextfieldCleaner]="true"
            >Пароль
            <input
	            tuiTextfield
	            type="password"
	        />
            </tui-input-password>
            <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <button 
        tuiButton
        class="tui-space_top-5"
        type="submit"
        size="m"
        [disabled]="form.invalid"
        >
        Войти
        </button>

        <p class="tui-space_top-4">&copy; АГАСУ, 2022</p>
    </form>

</div>
