<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item"> <a class="nav-link"><h5>Справочники</h5></a> </li>
                    <li class="nav-item"> <a class="nav-link active">Пользователи</a> </li>
                    <li class="nav-item"> <a class="nav-link">Структурные подразделения</a> </li>
                    <li class="nav-item"> <a class="nav-link">Должности</a> </li>
                    <li class="nav-item"> <a class="nav-link">1</a> </li>
                    <li class="nav-item"> <a class="nav-link">3</a> </li>
                    <li class="nav-item"> <a class="nav-link">3</a> </li>
                    <li class="nav-item"> <a class="nav-link">3</a> </li>
                    <li class="nav-item"> <a class="nav-link">3</a> </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
