<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>


<p class="title">Количество часов на ставку</p>
<form class="items" [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">


  <select class="form-select mb-2" *ngIf="activities$ | async as activities" name="idactivity" formControlName="idactivity" aria-label="Вид деятельности">
    <option *ngFor="let activity of activities" [value]="activity.id" type="text">{{activity.name}}</option>
</select>

<select class="form-select mb-2" *ngIf="posts$ | async as posts"  name="idbook_post" formControlName="idbook_post" aria-label="Должность">
  <ng-container *ngFor="let post of posts">
    <option *ngIf="post.ispps" [value]="post.id" type="text">{{post.name}}</option>
  </ng-container>
</select>

  <input class="form-control me-2 mb-3" id="norma" type="number" name="norma"
  autocomplete="off" formControlName="norma" placeholder="Норма" aria-label="Норма">

  <select class="form-select mb-2" *ngIf="units$ | async as units" name="idbook_unit" formControlName="idbook_unit" aria-label="Единица измерения">
    <option *ngFor="let unit of units" [value]="unit.id" type="text">{{unit.name}}</option>
</select>

  <button class="btn btn-primary" type="submit">Сохранить</button>
  <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   