:root {
    --main-color: #eeeeee;
    --tui-primary: #b3c7d3;
    --tui-primary-hover:#be6666;

	--tui-primary-active: #7f3b8a;
    --tui-error-fill: #987373;

    --tui-negative: #dc2828;
    --tui-negative-hover: #dc2828;
    --tui-error-fill-night: #dc2828;
    --tui-font-heading-3: var(--tui-font-heading-5);
}

.container-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search {
    width: 450px;   
}

.container-search__btn {
    margin-left: auto;
}