<div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">                                      
                    <li class="nav-item" *ngFor="let link of links"
                    routerLinkActive="active"> <a class="nav-link" [routerLink]="[link.url]">{{link.name}}</a> </li>
                </ul>
            </div>
        </nav>

        <div class="col col-md-2">
            <router-outlet></router-outlet>
        </div>
</div>


<!--
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">                                      
                    <li class="nav-item"> <a class="nav-link" routerLink="">Виды деятельности</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Виды работ</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Размер ставки ППС</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Макет ИП</a> </li>
                </ul>
            </div>
        </nav>

        <div class="col col-md-2">
            <router-outlet></router-outlet>
        </div>
</div>
-->


<!--
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">                                      
                    <li class="nav-item"> <a class="nav-link" routerLink="">Состав кафедры</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Штатное расписание</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Индивидуальные планы</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Отчеты</a> </li>
                </ul>
            </div>
        </nav>

        <div class="col col-md-2">
            <router-outlet></router-outlet>
        </div>
</div>
-->

<!--
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">                                      
                    <li class="nav-item"> <a class="nav-link" routerLink="">Виды и нормы работ</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Мониторинг заполнения ИП</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Мониторинг выполнения ИП</a> </li>
                </ul>
            </div>
        </nav>

        <div class="col col-md-2">
            <router-outlet></router-outlet>
        </div>
</div>
-->

<!--
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">                                      
                    <li class="nav-item"> <a class="nav-link" routerLink="">Индивидуальные планы</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Статистика</a> </li>
                </ul>
            </div>
        </nav>

        <div class="col col-md-2">
            <router-outlet></router-outlet>
        </div>
</div>
-->

