<div class="class">
    <div class="class-sidebar">
        <ul 
        class="tui-space_top-2 tui-space_left-2"
        >
        <ng-container *ngFor="let link of links">
        <li class="class-sidebar__link" *ngIf="link.id === num">           
                <a class="tui-space_horizontal-1 tui-space_vertical-1"
                 [routerLink]="[link.url]" 
                >
                {{link.name}}
                </a>
            
        </li>
        </ng-container>

            
        </ul>
    </div>
    <div class="class-main">

        <router-outlet></router-outlet>
        
    </div>    
</div>    



