<div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">                                      
                    <li class="nav-item"> <a class="nav-link" routerLink="">Структурные подразделения</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/post">Должности</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Пользователи</a> </li>
                </ul>
            </div>
        </nav>

        <div class="col col-md-2">
            <router-outlet></router-outlet>
        </div>
</div>


<!--
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">                                      
                    <li class="nav-item"> <a class="nav-link" routerLink="">Виды деятельности</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/post">Виды работ</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Размер ставки ППС</a> </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="">Макет ИП</a> </li>
                </ul>
            </div>
        </nav>

        <div class="col col-md-2">
            <router-outlet></router-outlet>
        </div>
</div>
-->


