<ng-content select=".title"></ng-content>
<ng-content select=".items"></ng-content>

<p class="title">Норма на текущий год</p>
<form class="items" *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <input class="form-control me-2" 
    id="norma"
    type="text" 
    name="norma" 
    formControlName="norma"
    autocomplete="off"
    placeholder="Норма на текущий год" 
    aria-label="Норма на текущий годя">
    
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <button class="btn btn-primary" type="button" (click)="close()">Закрыть</button>
</form>   
      